<mat-toolbar class="widget-header mat-elevation-z1">
  <mat-icon>layers</mat-icon>
  <h1 class="widget-title">Capas</h1>
  <span style="flex: 1 1 auto"></span>
  <button mat-icon-button matTooltip="Close" (click)="onCloseClick()">
    <mat-icon class="material-icons-round">close</mat-icon>
  </button>
</mat-toolbar>

<!--<p><mat-checkbox (change)="shouldValidate($event)">Restrict moves to same level only</mat-checkbox></p>-->
<mat-card *ngIf="this.dataSource?.data && this.dataSource.data.length > 0" class="layers-tree">
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" cdkDropList (cdkDropListDropped)="drop($event)">

  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding cdkDrag [cdkDragData]="node" (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()" (cdkDragStarted)="dragStart()" (cdkDragReleased)="dragEnd()">
    <!--<button mat-icon-button disabled></button>-->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{node.filename}} {{node.legend}}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <mat-slider
        class="mat-slider-opacity"
        color="primary"
        max="1"
        min="0"
        step="0.01"
        [value]="node.layer.getOpacity()"
        (input)="onLayerOpacityChange($event, node.layer)"
      ></mat-slider>
        </div>
    </mat-expansion-panel>
  </mat-tree-node>
  

  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding cdkDrag [cdkDragData]="node" (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()" (cdkDragStarted)="dragStart()" (cdkDragReleased)="dragEnd()">
  
      <mat-expansion-panel [(expanded)]="node.actionsOpen" hideToggle>
        <mat-expansion-panel-header class="layer-list-title" #expPanel (click)="expPanel._toggle()">
          <mat-panel-title>
            <div class="tree-node-header" [class.invisible]="!node.visible">
              <mat-icon cdkDragHandle>drag_indicator</mat-icon>
              <button *ngIf="isLayerGroup(node)" mat-icon-button matTreeNodeToggle (click)="expansionModel.toggle(node.id)"
                    [attr.aria-label]="'toggle ' + node.filename">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <div class="layer-title-container">
            <span class="layer-title-text">
            {{node.filename | layerTitle}} {{node.type}}
          </span>
            </div>
              <ng-template #non_expandable>
                <button mat-icon-button class="mat-button-xsmall" disabled></button>
              </ng-template>

              <div class="tree-node-label">
                <span>{{ node.title | layerTitle  }}</span>
              </div>
              <button mat-icon-button class="mat-button-small button-visibility" (click)="onVisibilityClick(node)">
                <mat-icon class="md-24" fontSet="icomoon" [fontIcon]="node.layer?.getVisible() ? 'icomoon-visible' : 'icomoon-invisible'"></mat-icon>
              </button>

              <button mat-icon-button class="mat-button-small" (click)="node.actionsOpen = !node.actionsOpen">
                <mat-icon class="md-24">more_horiz</mat-icon>
              </button>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div class="legend-container"><img [src]="node.leyend | secure | async"/></div>
          <mat-action-list dense>
            <mat-list-item disableRipple>
              <mat-slider
                class="mat-slider-opacity"
                color="primary"
                max="1"
                min="0"
                step="0.01"
                [value]="node.layer.getOpacity()"
                (input)="onLayerOpacityChange($event, node.layer)"
              ></mat-slider>
            </mat-list-item>
            <mat-list-item (click)="onZoomClick(node.layer);"> <!--expPanel._toggle()  This is to collapse panel-->
              <mat-icon matListIcon class="material-icons-round">zoom_in</mat-icon>
              <span matLine>Zoom a la capa</span>
            </mat-list-item>
            <mat-list-item (click)="onRemoveLayerClick(node)">
              <mat-icon matListIcon class="material-icons-round" color="warn">delete_outline</mat-icon>
              <span matLine>Borrar capa</span>
            </mat-list-item>
          
          </mat-action-list>
        </ng-template>
      </mat-expansion-panel>
      
    
  </mat-tree-node>

</mat-tree>
</mat-card>
